@model BugTracker.ViewModels.UserDetailsViewModel

@{
    // Layout data
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Page navigation
    var issuesPreviousPage = Model.Issues.pageNumber - 1;
    var issuesNextPage = Model.Issues.pageNumber + 1;
    var commentsPreviousPage = Model.IssueComments.pageNumber - 1;
    var commentsNextPage = Model.IssueComments.pageNumber + 1;
}

<style>
    .user-page-header {
        text-align: center;
    }

    .table-and-navigation {
        height: 80%;
        width: 40%;
    }

    #right-table {
        margin-right: 20px;
    }
</style>

<h1 class="user-page-header">@Model.currentUserName</h1>

<!-- Begin table of assigned issues -->
<table class="table" id="user-issues-table">
    <thead>
        <tr>
            <th>Issues</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var issue in Model.Issues)
        {
            <tr>
                <td>
                    <a asp-controller="Issues" asp-action="Details" asp-route-id="@issue.ID">@issue.Name</a>
                </td>
            </tr>
        }
    </tbody>
</table> <!-- End table of assigned issues -->

<!-- Begin table of user's comments on issues -->
<table class="table" id="user-comments-table">
    <thead>
        <tr>
            <th>Comment</th>
            <th>Date</th>
            <th>Issue</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Model.IssueComments)
        {
            <tr>
                <td>@comment.Comment</td>
                <td>@comment.CreatedDate</td>
                <td><a asp-controller="Issues" asp-action="Details" asp-route-id="@comment.Issue.ID">@comment.Issue.Name</a></td>
            </tr>
        }
    </tbody>
</table> <!-- End table of user's comments on issues -->


@section Scripts {
    <script>
        console.log("Running section script");
        $(document).ready(function () {
            $("#user-issues-table").DataTable();
            $("#user-comments-table").DataTable();
        });
    </script>
}



