@model BugTracker.ViewModels.UserDetailsViewModel

@{
    // Layout data
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .user-page-header {
        text-align: center;
    }

    .table-and-navigation {
        height: 80%;
        width: 40%;
    }

    #right-table {
        margin-right: 20px;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="AppUsers" asp-action="Index">Users</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.currentUserName</li>
    </ol>
</nav>

<h1 class="user-page-header">@Model.currentUserName</h1>

<br />
<br />
<br />

<!-- Begin table of assigned issues -->
<h3 style="text-align: center;">Tickets Assigned To @Model.currentUserName</h3>
<table class="table" id="user-issues-table">
    <thead>
        <tr>
            <th>Issues</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var issue in Model.Issues)
        {
            <tr>
                <td>
                    <a asp-controller="Issues" asp-action="Details" asp-route-id="@issue.ID">@issue.Name</a>
                </td>
            </tr>
        }
    </tbody>
</table> <!-- End table of assigned issues -->

<br />
<br />

<!-- Begin table of user's comments on issues -->
<h3 style="text-align: center;">@Model.currentUserName's Comments On Tickets</h3>
<table class="table" id="user-comments-table">
    <thead>
        <tr>
            <th>Comment</th>
            <th>Date</th>
            <th>Issue</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Model.IssueComments)
        {
            <tr>
                <td>@comment.Comment</td>
                <td>@comment.CreatedDate</td>
                <td><a asp-controller="Issues" asp-action="Details" asp-route-id="@comment.Issue.ID">@comment.Issue.Name</a></td>
            </tr>
        }
    </tbody>
</table> <!-- End table of user's comments on issues -->


@section Scripts {
    <script>
        console.log("Running section script");
        $(document).ready(function () {
            $("#user-issues-table").DataTable();
            $("#user-comments-table").DataTable();
        });
    </script>
}



