@model BugTracker.Models.Project

@{
    ViewData["Title"] = "Details";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Index">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>

<h1 class="text-center">@Html.DisplayFor(model => model.Name)</h1>
<div class="text-center">
    <a href="@Url.Action("Create", "ProjectTasks", new { projectid = Model.ID })">Create New Task</a>
</div>

@foreach (var item in Model.ProjectTasks)
{
    <br />

    var widget1Target = "#" + "collapseOne" + item.ID;
    var widget2Target = "#" + "collapseTwo" + item.ID;

    var widget1ID = "collapseOne" + item.ID;
    var widget2ID = "collapseTwo" + item.ID;

    <div class="card">
        <div class="card-header text-center">
            <h4><a asp-controller="ProjectTasks" asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Name)</a></h4>
        </div>
        <div class="card-body">
            <p class="card-text">
                @item.Summary
            </p>

            <div class="card">
                <div class="card-header" id="headingOne">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="@widget1Target" role="button">
                        Widget #1
                    </button>
                </div>
                <div class="collapse" id="@widget1ID">
                    <div class="card card-body">

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="@widget2Target" role="button">
                        Widget #2
                    </button>
                </div>
                <div class="collapse" id="@widget2ID">
                    <div class="card card-body">
                        <form asp-action="Details" method="get">
                            <div class="form-actions no-color">
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
        <div class="card-footer">
            <p class="text-center">
                <a asp-controller="ProjectTasks" asp-action="Edit" asp-route-id="@item.ID">Edit Task</a> |
                <a asp-controller="ProjectTasks" asp-action="Delete" asp-route-id="@item.ID">Delete Task</a>
            </p>
        </div>
    </div>
}

