@model BugTracker.ViewModels.IssueAndUserListsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    thead {
        background-color: #00008B;
        color: white;
    }

    ul.page-numbers {
        list-style-type: none;
    }

    li.page-numbers {
        display: inline;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Index">Projects</a></li>
        <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.projectID">@Model.projectName</a></li>
        <li class="breadcrumb-item active">@Model.projectTask.Name</li>
    </ol>
</nav>

<div id="PageWithModal"></div>

<h1>@Model.projectTask.Name</h1>

<div>@Model.projectTask.Description</div>

<br />
<br />

<div>
    <!-- Begin container for issues table and navigation -->
    <div class="d-flex justify-content-center">
        <!-- Begin div for issues table -->
        <table class="table" id="issues-table">
            <!-- Begin issues table -->
            <thead>
                <tr>
                    <th>
                        Issue Name
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Created By
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var issue in Model.issuesList)
                {
                    <tr>
                        <td>
                            <a asp-controller="Issues" asp-action="Details" asp-route-id="@issue.ID">@issue.Name</a>
                        </td>
                        <td>
                            @issue.Status
                        </td>
                        <td>
                            @issue.Priority
                        </td>
                        <td>
                            @issue.TimeCreated
                        </td>
                        <td>
                            @issue.UserCreated
                        </td>
                    </tr>
                }
            </tbody>
        </table> <!-- End issues table -->
    </div> <!-- End div for issues table -->

    <div class="d-flex justify-content-center">
        <!-- Div for create new issue button -->
        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#createIssue"
                data-url="@Url.Action("Create", "Issues", new { projecttaskid = Model.projectTask.ID })">
            Create New Issue
        </button>
    </div> <!-- End div for create new issue button -->

</div> <!-- End container for issues table and navigation -->

@section Scripts {
    <script>
        console.log("Running section script");
        $(document).ready(function () {
            $("#issues-table").DataTable();
        });
    </script>
}