@model BugTracker.ViewModels.IssueAndCommentsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int IssueID = Model.issue.ID;
    var issueStatus = Model.issue.Status;
}

<style>
    div.attachments-box {
        border: solid gray;
        margin: 20px;
        width: 320px;
    }

    div.flex-container {
        display: flex;
        flex-direction: row;
    }
</style>

<h1 style="text-align:center">@Model.issue.Name</h1>

<div class="flex-container">
    <div id="issuecomments">
        <h4>Comments</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Issue Comment</th>
                    <th>Date Created</th>
                    <th>Created By</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comment in Model.issueComments)
                {
                    <tr>
                        <td>@comment.Comment</td>
                        <td>@comment.CreatedDate</td>
                        <td>@comment.UserCreated</td>
                    </tr>
                }
            </tbody>
        </table>
        <form asp-action="Details" method="post" asp-route-id="@Model.issue.ID">
            <div class="form-group">
                <textarea asp-for="issueComment.Comment" class="form-control" id="issueCommentTextBox" rows="3" placeholder="What are your thoughts?"></textarea>

                @if (issueStatus == "Open")
                {
                    <input type="submit" value="Submit" class="btn btn-primary" />
                }
                else
                {
                    <input type="submit" value="Comments Cannot Be Submitted" class="btn btn-secondary" />
                }

                <div>
                    <input asp-for="issueComment.UserCreated" id="UserCreated" value="@User.Identity.Name" />
                </div>
                <div>
                    <input asp-for="issueComment.IssueID" id="IssueID" value="@IssueID" />
                </div>
            </div>
        </form>
    </div>
    <div class="attachments-box">

    </div>
</div>

<div>
    <table class="table">
        <thead>
            <th>User</th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var userForIssue in Model.issue.UserIssues)
            {
                <td>@userForIssue.AppUser.UserName</td>
            }
        </tbody>
    </table>
</div>

<div id="closeIssueFooter">
    @if (issueStatus == "Open")
    {
        <input type="button" value="Close Issue?" onclick="location.href='@Url.Action("Close", "Issues", new {id = IssueID})'" />
    }
</div>
