@model BugTracker.ViewModels.IssueAndCommentsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int IssueID = Model.issue.ID;
    var issueStatus = Model.issue.Status;
}

<!-- Breadcrumb navigation -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Index">Projects</a></li>
        <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.projectID">@Model.projectName</a></li>
        <li class="breadcrumb-item"><a asp-controller="ProjectTasks" asp-action="Details" asp-route-id="@Model.projectTaskID">@Model.projectTaskName</a></li>
        <li class="breadcrumb-item active">@Model.issue.Name</li>
    </ol>
</nav>

<!-- Testing modal window -->
<div id="PageWithModal"></div>
<div id="close-ticket-modal-entry"></div>

<!-- Header for page -->
<h1 style="text-align:center">@Model.issue.Name</h1>
<br />

<div class="container-fluid">
    <div class="row">
        <!-- Comments table and submission form -->
        <div class="col-6 col-1">
            <h2 style="text-align: center;">Ticket Comments</h2>
            <br />
            <table class="table" id="comments-table">
                <thead>
                    <tr>
                        <th>Comment</th>
                        <th>Date Created</th>
                        <th>Created By</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var comment in Model.issueComments)
                    {
                        <tr>
                            <td>@comment.Comment</td>
                            <td>@comment.CreatedDate</td>
                            <td><a asp-controller="AppUsers" asp-action="Details" asp-route-id="@comment.AppUser.Id">@comment.UserCreated</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <form asp-action="Details" method="post" asp-route-id="@Model.issue.ID">
                <div class="form-group">
                    <textarea asp-for="issueComment.Comment" class="form-control" id="issueCommentTextBox" rows="3" placeholder="What are your thoughts?"></textarea>
                    <br />

                    <div style="text-align: center;">
                        @if (issueStatus == "Open")
                        {
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        }
                        else
                        {
                            <input type="submit" value="Comments Cannot Be Submitted" class="btn btn-secondary justify-content-center" />
                        }
                    </div>

                  
                    <div>
                        <input asp-for="issueComment.UserCreated" id="UserCreated" value="@User.Identity.Name" />
                    </div>
                    <div>
                        <input asp-for="issueComment.IssueID" id="IssueID" value="@IssueID" />
                    </div>
                </div>
            </form>
        </div>
        <!-- Table of users assigned to issue -->
        <div class="col-6 col-1">
            <h2 style="text-align: center;">Assigned Users</h2>
            <br />
            <table class="table" id="users-table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var userForIssue in Model.issue.UserIssues)
                    {
                        <!-- <tr><td>@userForIssue.AppUser.UserName</td></tr> -->
                    <tr>
                        <td><a asp-controller="AppUsers" asp-action="Details" asp-route-id="@userForIssue.AppUser.Id">@userForIssue.AppUser.UserName</a></td>
                        <td><a asp-controller="Issues" asp-action="RemoveUserFromIssue" asp-route-userID="@userForIssue.AppUserID" asp-route-issueID="@userForIssue.IssueID"><i class="fas fa-window-close" style="color: red;"></i></a></td>
                    </tr>
                    }
                </tbody>
            </table>
            <br />
            <!-- Button to assign user to ticket -->
            <div class="col text-center">
                @if (issueStatus == "Open")
                {
                    <button class="btn btn-primary" data-toggle="ajax-modal" data-target="#assignUserToIssue"
                            data-url="@Url.Action("AssignUserToIssue", "Issues", new { IssueID = Model.issue.ID })">
                        Assign User to Ticket
                    </button>
                }
                else
                {
                    <button class="btn btn-secondary">Users Cannot Be Assigned</button>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            @if (issueStatus == "Open")
            {
                <button class="btn btn-danger justify-content-center" style="width: 150px;" data-toggle="ajax-modal" data-target="#close-issue"
                        data-url="@Url.Action("Close", "Issues", new {id = Model.issue.ID, type = "get"})">Close Ticket</button>
            }
        </div>
    </div>
</div>





@section Scripts {
    <script>
        $(document).ready(function () {
            $("#comments-table").DataTable();
            $("#users-table").DataTable();
        });
    </script>
}