@model IEnumerable<BugTracker.Models.Issue>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tickets</li>
    </ol>
</nav>

<h1>All Tickets</h1>

<table class="table" id="issues-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeCreated)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectTask.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCreated)
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        console.log("Running section script");
        $(document).ready(function () {
            $("#issues-table").DataTable();
        });
    </script>
} 